<div class="container">
<h1 appBrownUnderline> Vision:</h1>
<p>To serve happiness to our customers through delicious, quality meals and extraordinary restaurant experience while working toward the greater good for our employees, community and environment.
    <h1 appBrownUnderline> Mission:</h1>
     To inspire and nurture the human spirit—one person, one cup and one neighborhood at a time.
<h1 appBrownUnderline> Values:</h1>
<p>
        our partners, our coffee and our customers at our core, we live these values:
Creating a culture of warmth and belonging, where everyone is welcome.
Acting with courage, challenging the status quo and finding new ways to grow our company and each other.
Being present, connecting with transparency, dignity and respect.
Delivering our very best in all we do, holding ourselves accountable for results.
</p>

<img src="../../../assets/img/hotel2.jpg" id="img" class="rcorners2">

</div>